.slds-m-around_medium {
  height: auto;
  min-height: 600px;
  z-index: 1;
}

.slds-form-element__label {
  padding-bottom: 10px !important;
}

.slds-modal__content {
  overflow: visible;
  overflow-y: visible;
}